{% extends "base.html"%}

{% block content %}

{% for post in posts.items %}
<div class="card text-white bg-dark mb-4">
    <div class="py-3 px-3">
        <div class="d-flex border-bottom border-light">
            <div class="pt-auto d-inline-flex">
                <a href="{{url_for('post', id=post.id)}}">
                    <h4 class='mr-2 text-white'>{{post.title}}</h4>
                </a>
                <span class="text-secondary post-date align-bottom">{{post.created_on.strftime('%Y-%m-%d')}}</span>
                <a class="mx-2" href="{{url_for('account', id=post.user.id)}}">
                    <img src="{{url_for('static', filename='profile_pics/' + post.user.profile_pic)}}"
                        class="rounded-circle inline-profile" alt="">
                    {{ post.user.username}}
                </a>
            </div>
        </div>
        <div class="d-flex card-body bg-dark px-0">
            <p class="text-white">{{post.text}}</p>
        </div>
    </div>
</div>
{% endfor %}
<div class="d-flex justify-content-center">
    {% for page in posts.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
    {% if not page %}
    <a name="" id="" class="btn disabled btn-outline-secondary text-secondary m-1" href="" role="button">...</a>
    {% else %}
    {% if page == posts.page %}
    <a name="" id="" class="btn btn-primary m-1" href="{{url_for('index', page=page)}}" role="button">{{page}}</a>
    {% else %}
    <a name="" id="" class="btn btn-outline-primary m-1" href="{{url_for('index', page=page)}}"
        role="button">{{page}}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}