{% extends "base.html"%}

{% block content %}

<div class="card text-white bg-dark px-5 pt-5 pb-1">
    <h3 class="card-header mb-2 border-bottom bg-dark">Reset password</h3>
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
            <p>We will send a link to reset your password to your email address.</p>
            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feeback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{ form.email(class='form-control')}}
                {% endif %}
            </div>

            {{ form.submit(class="btn btn-primary btn-lg") }}
        </form>
    </div>
</div>
{% endblock content %}