{% extends "base.html"%}

{% block content %}
<div class="card text-white bg-dark">
    <div class="card-body">
        <h5 class="display-5">update profile</h5>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feeback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{ form.username(class='form-control')}}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feeback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{ form.email(class='form-control')}}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.about_me.label }}
                {% if form.about_me.errors %}
                {{ form.about_me(class="form-control is-invalid") }}
                <div class="invalid-feeback">
                    {% for error in form.about_me.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else%}
                {{ form.about_me(class='form-control')}}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.profile_pic.label }}
                {% if form.profile_pic.errors %}
                {{ form.profile_pic(class="form-control-file is-invalid") }}
                {% for error in form.profile_pic.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {% else%}
                {{ form.profile_pic(class='form-control-file')}}
                {% endif %}
            </div>

            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>
</div>
{% endblock content %}